server:
  port: 8084

spring:
  application:
    name: chatbot-api
  profiles:
    include:
      - common-core
      - kafka
      - api-domain
      - mongodb-domain
      - feign-internal
      - chatbot-api
