spring:
  config:
    activate:
      on-profile: dev

gateway:
  routes:
    auth:
      uri: http://api-auth-service:8080
    bookmark:
      uri: http://api-bookmark-service:8080
    chatbot:
      uri: http://api-chatbot-service:8080
    agent:
      uri: http://api-agent-service:8080
    emerging-tech:
      uri: http://api-emerging-tech-service:8080

spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowCredentials: true
                allowedOriginPatterns:
                  - "http://localhost:*"
                  - "http://127.0.0.1:*"
                allowedHeaders: "*"
                allowedMethods: [GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD]
                maxAge: 3600

logging:
  level:
    com.tech.n.ai.api.gateway: INFO
